<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title>
            Amazona
        </title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">Amazonaz</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Signin</a>
                </div>
            </header>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="products">
                                <img src="imges/a.jpg" alt="product">
                                <div class="products-name">
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="products-brand">Nike</div>
                                <div class="product-price">60$</div>
                            </div>
                        </li>
                    </ul>   
                </div>
            </main>
            <footer class="footer">
                All right reserved
            </footer>
        </div>   
    </body>
</html>